.wrapper{
    position: relative;
}
.footer:before {
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(214, 214, 214));
    border-top-right-radius: 125px;
    content: "";
    z-index: -1;
    position: absolute;
    top: -20px;
    left: -138.1px;
    right: -138.1px;
    bottom: -20px;
  }
.hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #2d0b00;
    margin: 20px auto;
  }